# Byte-compiled / optimized Python files
__pycache__/
*.py[cod]

# Caches and logs
*.so
*.egg
*.egg-info/
dist/
build/
logs/
*.log
*.sqlite3

# Virtual environments
venv/
env/
ENV/
.venv/

# IDE-specific files (e.g., for VSCode, PyCharm)
.vscode/
.idea/

# Environment-specific settings (e.g., .env, .env.local)
.env
.env.local
.env.*.local

# Local development files and directories
db.sqlite3
db.sqlite3-journal
media/
static/
uploads/
*.sqlite3
*.db

# Site packages
lib/
lib64/
dist-packages/

# Compiled Python files
*.pyc
*.pyo

# Dependency files (e.g., requirements.txt)
pip-log.txt

# Jupyter Notebook
.ipynb_checkpoints/

# Other
.DS_Store
Thumbs.db

# custom
**/secretvars.py
**/secrets.py
